/* SCSS HEX */
/* SCSS Gradient */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  background-color: #fafaff;
  color: #30343f;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;
  height: 100vh;
}

/* SCSS HEX */
/* SCSS Gradient */
/* SCSS HEX */
/* SCSS Gradient */
header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  margin-top: 10%;
  text-align: left;
  padding: 1.5em;
}
header h2 {
  font-size: 1.5em;
}
header h2 span {
  color: rgb(61, 79, 148);
  font-weight: 700;
}
header .title {
  display: flex;
  flex-wrap: wrap;
}
header .title h1 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1em;
}
header .title h1:nth-child(2) {
  flex-basis: 100%;
}
header .title .title__links {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5em;
  flex-basis: 40%;
  margin-left: 0.75em;
  cursor: pointer;
}
header .tech-stack {
  display: flex;
  align-items: start;
  gap: 0.5em;
  margin: 0.75em 0;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-100px); /* Start with the icon hidden and offset to the left */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End with the icon visible and at its original position */
  }
}
header .tech-stack i {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
header .tech-stack i:nth-child(1) {
  animation-delay: 0s;
}
header .tech-stack i:nth-child(2) {
  animation-delay: 0.2s;
}
header .tech-stack i:nth-child(3) {
  animation-delay: 0.4s;
}
header .tech-stack i:nth-child(4) {
  animation-delay: 0.6s;
}
header .tech-stack i:nth-child(5) {
  animation-delay: 0.8s;
}
header .tech-stack i:nth-child(6) {
  animation-delay: 1s;
}
header .tech-stack i:nth-child(7) {
  animation-delay: 1.2s;
}
header p {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
}

@media only screen and (min-width: 1000px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    padding: 1.5em;
  }
  header h2 {
    font-size: 2em;
  }
  header .title {
    align-items: center;
    justify-content: start;
    padding-left: 25%;
  }
  header .title h1 {
    font-size: 5.5em;
  }
  header .title .title__links {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
    flex-basis: 20%;
    margin-left: 0.75em;
    cursor: pointer;
  }
  header p {
    text-align: center;
    font-size: 1.2em;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
.projects h1 {
  font-size: 1.5em;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  color: rgb(61, 79, 148);
}
.projects .project {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7em;
}
.projects .project__title {
  font-size: 1.2em;
  font-weight: 700;
  color: #30343f;
  text-decoration: none;
}
.projects .project__title:hover {
  color: rgb(61, 79, 148);
  box-shadow: 2 2;
  transition: 0.3s;
}
.projects .project img {
  max-width: 90%;
  cursor: pointer;
}
.projects .project img:hover {
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: #1e2749 5px 5px;
}
.projects .project__description {
  font-size: 1em;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .projects {
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .projects h1 {
    flex-basis: 100%;
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: rgb(61, 79, 148);
  }
  .projects .project {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7em;
    flex-basis: 40%;
  }
  .projects .project__title {
    font-size: 1.5em;
  }
  .projects .project img {
    max-width: 90%;
    cursor: pointer;
  }
  .projects .project img:hover {
    opacity: 0.8;
    transition: 0.3s;
    box-shadow: #1e2749 8px 8px;
  }
  .projects .project__description {
    font-size: 1em;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */